/* Reset styles */

body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li {
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
}



/* Begin Styling */

body {
	color: #333;
	font-family: "HelveticaNeueLT Pro 45 Lt", Helvetica, Arial, Sans-Serif;
	font-size: 16px;
	width: 970px;
	margin: 0 auto;
}


/* Header */

#navigation {
  text-transform: capitalize;
}

#navigation li#name a{
  background-color: #b40033;
  font-size: 1.5em;
  font-family: "HelveticaNeueLT Pro 35 Lt", Sans-Serif;
  font-weight: lighter;
  color: #fff;
  padding: 15px;
}

#navigation li#name a:hover{
  text-transform: capitalize;
  background-color: #b40033;
  color: #ccc;
}

#navigation li {
  list-style: none;
  display: inline;
  font-size: .9em;
}

#navigation img {
	border: none;
	opacity: 0.5;
	padding: 10px;
	position: relative;
	left: -13px;
	bottom: -10px;
}

#navigation img:hover {
	opacity: 0.2;
}

#navigation li:after {
	content: "|";
	color: #aaa;
}

#navigation li.none:after {
	content: none;
}

#navigation li a:link,
#navigation li a:visited {
  color: #999;
  text-decoration: none;
  padding: 10px;
}

#navigation li a:hover,
#navigation li a:active {
  color: #ccc;
  text-decoration: none;
}

#navigation li.selected a:link,
#navigation li.selected a:visited,
#navigation li.selected a:hover,
#navigation li.selected a:active {
  color: #444;
  font-family: "HelveticaNeueLT Pro 55 Lt", Sans-Serif;
}


/* Sidebar */

#sidebar {
	width: 200px;
	position: relative;
	top: 160px;
	right: 40px;
	float: right;
}

#sideline {
	float: left;
	margin-top: -20px;
	margin-right: 25px;
}
		
#menu, #drinks, #reserve {
	margin-top: 20px;
}

h3 {

	font-size: 1em;
	color: #444;
	line-height: 40px;
	letter-spacing: 1px;
	font-weight: bold;
}
	

#categories li:before,
#categories1 li:before,
#categories2 li:before {
	content: "\00BB";
	color: #b40033;
}
	
#categories,
#categories1,
#categories2,
#categories a,
#categories1 a,
#categories2 a {
	font-family: "HelveticaNeueLT Pro 45", sans-serif;
	font-size: .75em;
	color: #777;
	line-height: 17px;
	list-style-type: none;
	text-decoration: none;
}
	
#categories a, #categories1 a, #categories2 a {
	font-size: 1em;
}
	
#categories a:hover, #categories1 a:hover, #categories2 a:hover {
	color: #ccc;
}
#categories a:active, #categories1 a:active, #categories2 a:active {
	color: #b40033;
}	
	

/* home maindisplay slideshow*/

#main_display a img {
	position: relative;
	top: 80px;
	left: -12px;
	border: none;
}

#main_display ul li {
	opacity: 0.3;
	display: inline;
	padding: 10px;
	position: relative;
	left: 90px;
}

#main_display li:hover {
	opacity: 100;
}

#main_display li.selected_img {
	opacity: 100;
}

#main_display li.inactive_arrow {
	opacity: .3;
}
	
/* Content */

#content {
	margin-top: 150px;
	-moz-column-count: 2;
	-webkit-column-count: 2; 
	column-count: 2;
	width: 670px;
}

h2 {
	font-family: "HelveticaNeueLT Pro 55 RM", sans-serif;
	color: #b40033;
	font-size: 1.5em;
	font-weight: normal;
	line-height: 2.25em;
}

p {
	color: #333;
	font-size: .8em;
	letter-spacing: .05em;
	line-height: 1.3em;
	width: 300px;
}


/* Portfolio */

#mainpic {
	position: relative;
	top: 80px;	
}

#portfolio  {
	font-size: 1em;
	font-weight: normal;
	line-height: 2.25em;
	top: 100px;
}

#portfolio h2 {
	color: #444;	
}

#portfolio ul li {
	display: inline;	
	margin-right: 15px;
}

ul li h3, h4 {
	font-size: 1em;
	display: inline;
	word-spacing: 200px;	
}

ul li h3 {
	color: #b40033;
	text-indent: 40px;	
}

ul li a  {
	text-decoration: none;	
	color: #999999;
}

ul li a:hover {
	color: #444444;	
}




