/* Reset styles */

body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li {
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
}

/* Begin Styling */

body {
	color: #333;
	font-family: "HelveticaNeueLT Pro 45 Lt", Helvetica, Arial, Sans-Serif;
	font-size: 16px;
	width: 970px;
	margin: 7px auto;
}

/* Header----------------------------------------------------------------------------------*/

#navigation {
  text-transform: capitalize;
  position: relative;
}

#navigation li#name a{
  background-color: #b40033;
  font-size: 1.5em;
  font-family: "HelveticaNeueLT Pro 35 Lt", Sans-Serif;
  font-weight: lighter;
  color: #fff;
  padding: 17px;
}

#navigation li#name a:hover{
  text-transform: capitalize;
  background-color: #b40033;
  color: #ccc;
}

#navigation li {
  list-style: none;
  display: inline;
}

#navigation img {
	border: none;
	opacity: 0.5;
	padding: 10px;
	position: relative;
	left: -13px;
	bottom: -10px;
}

#navigation img:hover {
	opacity: 0.2;
}

#navigation li:after {
	content: "|";
	color: #aaa;
}

#navigation li.none:after {
	content: none;
}

#navigation li a:link,
#navigation li a:visited {
  color: #999;
  text-decoration: none;
  padding: 10px;
}

#navigation li a:hover,
#navigation li a:active {
  color: #ccc;
  text-decoration: none;
}

#navigation li.selected a:link,
#navigation li.selected a:visited,
#navigation li.selected a:hover,
#navigation li.selected a:active {
  color: #444;
  font-family: "HelveticaNeueLT Pro 55 Lt", Sans-Serif;
}


/* Sidebar */
	
#menus , #drinks , #reserve  {
	float: right;
	}
	
#menus {	
	list-style-type: none;
	margin-top: 280px;		
}

	
#drinks {
	list-style-type: none;
	margin-top: 420px;
	margin-right: -110px;
	}
	
#reserve {
	list-style-type: none;
	margin-top: 560px;
	margin-right: -145px;
	}

#menus h5, #drinks h5, #reserve h5 {
	font-family: "HelveticaNeueLT Pro 55 LT", sans-serif;
	font-size: 1em;
	margin-right: 50px;
	list-style-type: none;
	color: #444444;
	line-height: 40px;
	letter-spacing: 1px;
	font-weight: light;
	}
	

#categories li:before, #categories1 li:before, #categories2 li:before {
	content: "\00BB";
	color: #b40033;
	}
	
#categories, #categories1, #categories2, #categories a, #categories1 a, #categories2 a {
	font-family: "HelveticaNeueLT Pro 45", sans-serif;
	font-size: .75em;
	color: #777777;
	line-height: 17px;
	list-style-type: none;
	text-decoration: none;
	}
	
#categories a, #categories1 a, #categories2 a {
	font-size: 1em;
	}
	
#categories a:hover, #categories1 a:hover, #categories2 a:hover {
	color: #ccc;
	}
#categories a:active, #categories1 a:active, #categories2 a:active {
	color: #b40033;
	}	

/*----------------------------------------------------------------------------------------------------*/
